{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <header class="category-header">
        <h1>Welcome</h1>
    </header>

    <div class="article-content">
        <p>
            This site is a collection point for any stuff I've made that I think is of decent quality. 
            Alongside being the new home of my amateur poetry, I'm also posting some other types of 
            writing here — primarily around politics — as well as any coding projects that I think 
            are worth sharing. I don't expect anyone to read it all, but it makes me feel productive 
            to put stuff out there. And if there is anything that you find interesting, then that's a bonus.
        </p>
        
        <p>
            Admittedly, there's not much here yet, but hopefully I'll stick to it and flesh this 
            out over the coming months and years.
        </p>
    </div>
{% endblock %}